@charset "UTF8";

#titulo{
    background-color: black;
    color: #FFFFFF;
    height: 180px;
    width: 1000px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    
    
}
#titulo > a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    
    
}
#p1{
    
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 1em;

}