@charset "UTF8";
@font-face {
    font-family: bold;
    src: url(fontes/PassionOne-Bold.ttf);
}   
@font-face {
    font-family:back ;
    src: url(fontes/PassionOne-Black.ttf);
}
@font-face {
    font-family: regular;
    src: url(fontes/PassionOne-Regular.ttf);
    
}
